* {
    margin: 0;
    padding: 0;
}

/* 마우스커서  */
html {
    cursor: url(./mouse/mouse.png), auto;
}

a {
    cursor: url(./mouse/mouse.png), pointer;
}


/* 
영문폰트(cinzel-dafont)
font-family: 'Cinzel Decorative', cursive;
font-family: 'EB Garamond', serif;
font-family: 'Nanum Myeongjo', serif;
font-family: 'Noto Sans KR', sans-serif;  

(aboreto)
font-family: 'Aboreto', cursive;
font-family: 'Cinzel Decorative', cursive;
font-family: 'EB Garamond', serif;
font-family: 'Nanum Myeongjo', serif;

한글폰트(스포카 한 산스 네오-눈누)
font-family: 'SpoqaHanSansNeo-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SpoqaHanSansNeo-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;*/

/* 스포카 한 산스 네오 폰트 */
@font-face {
    font-family: 'SpoqaHanSansNeo-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SpoqaHanSansNeo-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    min-width: 1450px;
    font-family: 'SpoqaHanSansNeo-Regular';
    font-size: 15px;
    line-height: 25px;
    color: #463a3a;
    background-image: url(./background.png);
    background-repeat: no-repeat;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    text-align: none;
    color: inherit;
}

.clearfix::after {
    content: "";
    clear: both;
    display: block;
}

img,
video,
iframe {
    vertical-align: middle;
}

/* header */
#header {
    position: fixed;
    text-align: center;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
    background: linear-gradient(to bottom, rgba(40, 35, 22, 1) 0%, rgba(63, 59, 40, 0.47) 53%, rgba(249, 249, 249, 0) 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */

}

.header_inner {
    /* margin: 0 auto;*/
    min-width: 1320px;
    position: relative;
}

.header_inner h1 {
    /*position: absolute;*/
    color: white;
    /*top: 50px;*/
    /*left: 100px;*/
    float: left;
    margin-top: 40px;
    margin-left: 60px;
}

.header_inner .gnb {
    /*position: absolute;*/
    color: white;
    /*top: 65px;*/
    /*left: 500px;*/
    font-size: 20px;
    font-weight: bold;
    float: left;
    padding: 53px 60px;

}

.header_inner .gnb li {
    float: left;
    padding-right: 50px;
}

.header_inner .login li {
    float: left;
    padding-right: 20px;
}

.header_inner .login {
    position: absolute;
    top: 20px;
    right: 90px;
    color: white;
    font-size: 15px;
    /* font-weight: bold; */

}

/* attachment  */
#attach {
    width: 100%;
    height: 390px;
    background-image: url(./aboutus/attachment2.png);
    background-position: center top;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.attach {
    text-align: center;
    padding-top: 210px;
    font-family: 'Cinzel Decorative', cursive;
    color: white;
    font-size: 40px;
}

/* main  */
#main {
    background-color: #fdfaf4;

}

.main_inner {
    margin: 0 auto;
    width: 1320px;
    position: relative;
    overflow: hidden;

}

/* rotateimg  */
.rotate {
    position: absolute;
    top: 50px;
    right: 52px;
    z-index: 50;
}

.rotateimg {
    animation: rotation 10s linear infinite;
}

@keyframes rotation {
    from {
        transform: rotate(0);
    }

    to {
        transform: rotate(360deg);
    }
}

.maintext {
    padding-top: 100px;
    padding-left: 20px;
    text-align: left;
    font-family: 'Cinzel Decorative', cursive;
    letter-spacing: 5px;
    font-size: 40px;
    line-height: 50px;
}

.mainimg {
    padding-top: 100px;
    text-align: center;
    padding-left: 53px;
    /* 이거 물어보기  */
}

.title {
    padding-top: 200px;
    padding-bottom: 150px;
    text-align: center;
    font-size: 40px;
    font-family: 'Cinzel Decorative', cursive;
}

.text1 {
    float: left;
    font-size: 28px;
    line-height: 38px;
    font-weight: bold;
    text-align: left;
}

.text2 {
    width: 800px;
    float: right;
    font-size: 18px;
    text-align: left;
    line-height: 29px;
    letter-spacing: 1px;
}

/* content1 */
#content1 {
    background-color: #f4e5d5;
    text-align: center;
    margin-top: 100px;
    font-size: 18px;
    line-height: 28px;
}

.bar {
    margin-top: 50px;
}

.title1 {
    font-size: 40px;
    font-family: 'Cinzel Decorative', cursive;
    padding-top: 50px;
    padding-bottom: 50px;
}

.content1img {
    padding: 60px 0;
}

/* id  */
#id {
    background-color: #191921;

}

.id_inner {
    margin: 00px auto;
    width: 1320px;
    padding: 130px 0;

}

.title2 {
    text-align: center;
    color: #e1c2a4;
    font-size: 40px;
    font-family: 'Cinzel Decorative', cursive;

    padding-bottom: 80px;
}

.idlogo {
    padding-left: 50px;
}

#id ul li {
    float: left;

}

#id ul {
    color: #f8f2e5;
    font-size: 20px;
    line-height: 30px;

}

#id ul li:nth-child(2) {
    width: 650px;
    padding-left: 100px;
    padding-top: 40px;
    line-height: 35px;
}

/* brandcolor */
@keyframes upanddown {
    from {
        transform: translateY(-10px);
    }

    to {
        transform: translateY(10px);
    }
}

.colorchip {
    animation: upanddown 1s linear infinite alternate;
}

#color {
    margin: 0 auto;
    width: 1320px;
    text-align: center;
    padding: 130px 0;
}

#color ul li {
    float: left;
}

#color ul li:nth-child(1) {
    padding-left: 50px;
}

.colortitle {
    font-size: 40px;
    font-family: 'Cinzel Decorative', cursive;
    padding-bottom: 80px;
}

/* symbol */
#symbol {
    background-color: #191921;

}

.symbol_inner {
    margin: 0 auto;
    width: 1320px;
    padding: 130px 0;

}

.symboltitle {
    font-size: 40px;
    font-family: 'Cinzel Decorative', cursive;
    padding-bottom: 30px;
    text-align: center;
    color: #e1c2a4;
}


#symbol ul li {
    float: left;

}

#symbol ul {
    color: #f8f2e5;
    font-size: 20px;
    line-height: 30px;
    padding-left: 120px;

}

#symbol ul li:nth-child(2) {
    padding-left: 100px;
    padding-top: 101px;
}

/* map */
#map {
    margin: 0 auto;
    width: 1320px;
    padding: 130px 0;
}

.maptitle {
    font-size: 40px;
    font-family: 'Cinzel Decorative', cursive;
    padding-top: 60px;
    padding-bottom: 30px;
}

.map_img {
    float: left;
}

.map_text {
    float: left;
    padding-left: 50px;
}

.jeju {
    color: #797777;
    font-size: 18px;
    line-height: 28px;
    font-weight: bold;
    padding-bottom: 200px;
}

.carimg {
    padding-left: 8px;
}

.car ul li {
    float: left;
}

.bus ul li {
    float: left;
}

.car ul li:nth-child(1) {
    width: 110px;
}

.bus ul li:nth-child(1) {
    width: 110px;

}

.bus {
    padding-top: 40px;
}

/*footer*/
#footer {
    background-color: #2c2a29;
    color: #ccc;
}

.footer_inner {
    width: 1320px;
    margin: 0 auto;
    padding: 60px 0;
}

.footer_logo {
    float: left;
}

.footer_text {
    float: left;
    margin-left: 50px;
    padding-top: 33px;
}

.footer_icon {
    float: left;

    padding-left: 200px;
    padding-top: 100px;
}

.footer_icon img {
    padding-right: 10px;
}

.footer_text ul li {
    float: left;
    margin-right: 20px;
}

.footer_text ul li a {
    color: #fff;
    /*a태그에 글씨색을 준 이유는 구분하는 선의 색상은 바꾸지 않기 위해서 이다.*/
}

.footer_text p {
    padding-top: 20px;
}