* {
    margin: 0;
    padding: 0;
}

/* 마우스커서  */
html {
    cursor: url(./mouse/mouse.png), auto;
}

a {
    cursor: url(./mouse/mouse.png), pointer;
}


/* 
영문폰트(cinzel-dafont)
font-family: 'Cinzel Decorative', cursive;
font-family: 'EB Garamond', serif;
font-family: 'Nanum Myeongjo', serif;
font-family: 'Noto Sans KR', sans-serif;  

(aboreto)
font-family: 'Aboreto', cursive;
font-family: 'Cinzel Decorative', cursive;
font-family: 'EB Garamond', serif;
font-family: 'Nanum Myeongjo', serif;

한글폰트(스포카 한 산스 네오-눈누)
font-family: 'SpoqaHanSansNeo-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SpoqaHanSansNeo-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;*/

/* 스포카 한 산스 네오 폰트 */
@font-face {
    font-family: 'SpoqaHanSansNeo-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SpoqaHanSansNeo-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'SpoqaHanSansNeo-Regular';
    min-width: 1450px;
    color: black;
    background-image: url(./background.png);
    background-repeat: no-repeat;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    text-align: none;
    color: inherit;
}

.clearfix::after {
    content: "";
    clear: both;
    display: block;
}

img,
video,
iframe {
    vertical-align: middle;
    max-width: 100%;
}

/* header */
#header {
    position: fixed;
    text-align: center;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
    background: linear-gradient(to bottom, rgba(40, 35, 22, 1) 0%, rgba(63, 59, 40, 0.47) 53%, rgba(249, 249, 249, 0) 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */

}

.header_inner {
    /* margin: 0 auto;*/
    min-width: 1320px;
    position: relative;
}

.header_inner h1 {
    /*position: absolute;*/
    color: white;
    /*top: 50px;*/
    /*left: 100px;*/
    float: left;
    margin-top: 40px;
    margin-left: 60px;
}

.header_inner .gnb {
    /*position: absolute;*/
    color: white;
    /*top: 65px;*/
    /*left: 500px;*/
    font-size: 20px;
    font-weight: bold;
    float: left;
    padding: 53px 60px;

}

.header_inner .gnb li {
    float: left;
    padding-right: 50px;
}

.header_inner .login li {
    float: left;
    padding-right: 20px;
}

.header_inner .login {
    position: absolute;
    top: 20px;
    right: 90px;
    color: white;
    font-size: 15px;
    /* font-weight: bold; */

}

/* promotion */
#pro {
    background-image: url(./room/room_promotion.png);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 950px;
    text-align: center;
    font-size: 18px;
    line-height: 28px;
    width: 100%;
}

.pro_inner h1 {
    padding-top: 230px;
    color: #463a3a;
    font-size: 40px;
    line-height: 50px;
    font-family: 'Cinzel Decorative', cursive;
}

.pro_inner>p {
    padding-top: 8px;
    color: #3c3c3c;

}

.pro_inner ul {
    max-width: 1600px;
    margin: 0 auto;
}

.pro_inner ul li {
    float: left;
    padding-top: 80px;
    width: 25%;
}



/* room */
#room {
    background-color: #fdfaf4;
    height: 2300px;
    font-size: 18px;
    line-height: 28px;
}

/*.room_inner {
    width: 1320px;
    margin: 0 auto;
    position: relative;


}*/

.room_inner h1 {
    width: 1320px;
    margin: 0 auto;

    padding: 70px 0;
    text-align: left;
    padding-left: 70px;
    color: #463a3a;
    font-size: 45px;
    line-height: 50px;
    font-family: 'Cinzel Decorative', cursive;
}



.roomimg2 {
    margin: 0 auto;
    width: 100%;
    position: relative;
    background-image: url(./room/suite.png);
    background-position: center;
    background-repeat: no-repeat;
    height: 560px;
    margin: 150px 0;
}

.roomimg1 {

    background-image: url(./room/deruxe.png);
    background-position: center;
    background-repeat: no-repeat;
    height: 560px;
}


.roomimg3 {
    margin: 0 auto;
    width: 100%;
    position: relative;
    background-image: url(./room/poolvilla.png);
    background-position: center;
    background-repeat: no-repeat;
    height: 560px;
}

.textbox {
    margin: 0 auto;
    width: 1320px;

}

#pro_room {
    position: relative;
    overflow: hidden;
}

/* rotateimg  */
.rotate {
    position: absolute;
    top: 870px;
    right: 50%;
    transform: translateX(800px);
    z-index: 50;
}

.rotateimg {
    animation: rotation 10s linear infinite;
}

@keyframes rotation {
    from {
        transform: rotate(0);
    }

    to {
        transform: rotate(360deg);
    }
}

.roomtext {
    float: right;
    padding-right: 25px;
    padding-top: 50px;
}


.roomtext2 {
    float: left;
    padding-left: 25px;
    padding-top: 50px;
}





.title {
    font-family: 'Cinzel Decorative', cursive;
    font-size: 40px;
    padding-bottom: 40px;
}

.text1 {
    padding-bottom: 60px;
}

.text2 {
    padding-bottom: 60px;
}

.service li {
    padding-top: 20px;
    float: left;
    padding-right: 10px;

}

.more {
    display: block;
    text-align: center;
    width: 100px;
    text-decoration: none;
    color: white;
    background-color: #e8d4c0;
    padding: 10px 30px;
    margin-top: 25px;
}

.more:hover {

    transition: all 0.5s;
    background-color: #c9ad90;
}


/*footer*/
#footer {
    background-color: #2c2a29;
    color: #ccc;

}

.footer_inner {
    width: 1320px;
    margin: 0 auto;
    padding: 60px 0;
}

.footer_logo {
    float: left;
}

.footer_text {
    float: left;
    margin-left: 50px;
    padding-top: 33px;
}

.footer_icon {
    float: left;

    padding-left: 200px;
    padding-top: 100px;
}

.footer_icon img {
    padding-right: 10px;
}

.footer_text ul li {
    float: left;
    margin-right: 20px;
}

.footer_text ul li a {
    color: #fff;
    /*a태그에 글씨색을 준 이유는 구분하는 선의 색상은 바꾸지 않기 위해서 이다.*/
}

.footer_text p {
    padding-top: 20px;
}